:root {
  --blue: #3182ce;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  line-height: 1.6;
  font-size: 1rem;
  background-color: var(--blue);
  color: var(--white);
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}

::-webkit-scrollbar {
  display: none;
}

.section-container {
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--white);
  text-decoration: none;
}

.nav a:hover {
  color: #eee;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
}

.navbar {
  font-size: 1.2rem;
  /* so it rests on top of the first section */
  position: fixed;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--blue);
  z-index: 1000;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo img {
  height: 70px;
  width: 70px;
}

.navbar .nav {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}

.navbar .nav a {
  padding: 0 1rem;
}

.showcase {
  padding: 2rem 0;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
  /* color: var(--white); */
}

.showcase p {
  margin: 1.5rem 0;
}

.btn {
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 8px;
}

.btn:hover {
  background-color: #eee;
}

/* .showcase.search, .showcase.join {
    background-color: var(--white);
    color: var(--blue);
} */

.showcase.join .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact_me {
    margin-top: 1.5rem;
}

#contact_me span {
    font-weight: bold;
}


/*NOT MEANT FOR MOBILE - MEANT FOR DESKTOP ONLY*/
@media (max-width: 700px) {
  .navbar {
    display: none;
  }
  .showcase .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .showcase img {
    width: 80%;
    margin: auto;
    order: 1;
  }
}
